body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ex-card {
  height: 600px;
  width: 450px;
  background-color: pink;
  text-align: center;
  margin: 20px;
}

#locations {
  width: 100%;
  margin: 5px;
}

.location-card {
  background-color: darkred;
  color: white;
}
.location-heading {
  text-align: center;
}

#searchbar {
  margin: 20px;
}

#searchbar #searchbutton {
  background-color: #c93a57;
  color: white;
}

.btn-lg {
  margin: 20px;
  background-color: #c93a57;
  color: white;
}

.hide {
  display: none;
}

#reset-button {
  background-color: white;
  color: #c93a57;
}

.ex-img {
  height: 400px;
  width: 400px;
}